
target/m2e-wtp/web-resources/META-INF/maven/org.yanni/soctrav/pom.properties

*.class

target/classes/com/yanni/sotrav/controllers/MainController.class

*.class

target/classes/com/yanni/sotrav/controllers/UserController.class

target/classes/com/yanni/sotrav/manager/UserManager.class
